.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.calc_background {
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	left: 232px;
	top: 125px;
	margin: 0 auto;
	min-width: 300px;
	width: 95%;
	max-width: 800px;
	min-height: 100px;
	height: auto;
	background: #c4c4c4;
	border-radius: 25px;
}

.form_label {
	font: Archivo VF Beta;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: left;

	color: #000000;
}

.switch_checkbox {
	justify-content: center;
	height: 0;
	width: 0;
	position: absolute;
	visibility: hidden;
}

.switch {
	align-items: center;
	justify-content: center;
	top: 10px;
	display: inline-block;
	cursor: pointer;
	width: 150px;
	height: 50px;
	background: #fff;
	position: relative;
	transition: background-color 0.2s;
	border-radius: 15px;
}

.switch .switch_button {
	position: absolute;
	z-index: 0;
	top: 2px;
	left: 2px;
	width: 70px;
	height: 45px;
	transition: 0.2s;
	background: #28c1d3;
	border-radius: 15px;
}

.switch_checkbox:checked + .switch_button {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switch_checkbox:active + .switch_button {
	width: 60px;
}

.switch_label {
	display: relative;
	z-index: 1;
	height: 100%;
	font-family: Archivo VF Beta;
	color: #000000;
	font-size: 24px;
}

.switch_labels span {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.switch_labels span:first-child {
	left: 0;
}

.switch_labels span:last-child {
	right: 0;
}

.flex_container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.flex_item {
	width: 95%;
	margin: 10px;
}

.time_form {
	width: 33%;
}

.btn {
	font: Archivo VF Beta;
	font-size: 20px;
	margin-top: 15px;
	color: #fff;
	background-color: #23848f;
	text-align: center;
	width: 200px;
	height: 50px;
	border-radius: 15px;
	border-color: #fff;
}

.topnav {
	position: relative;
	background-color: #fff;
	overflow: hidden;
	text-align: center;
	margin-bottom: 15px;
}

.topnav a {
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
}

.topnav a:hover {
	color: rgb(151, 148, 148);
}

.links {
	color: rgb(238, 232, 232);
	text-decoration: underline;
}

.links:hover {
	color: rgb(0, 153, 255);
}

@media only screen and (max-width: 600px) {
	.flex_container {
		flex-direction: column;
	}
}
